---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Aayush Shukla" description="About Aayush Shukla">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am Aayush Shukla, a self-taught programmer and an open-source developer from India. I have worked on many open-source projects, some of which include a Music Player in Python, a Chess AI in Python and it's implementation in Java. In the sidelines, I'm actively looking for other open-source projects to contribute, and alongwith working on some of my own projects.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						I'm currently enrolled in Bachelor of Technology in VIT University, Chennai Campus, with a major in Computer Science and Engineering, specialized in Cyber Physical Systems.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Future</h2>
				<div class="content">
					<p>Out of improving on what I already know, I'm learning JavaScript and Dart to get into other tech-domains such as web development and cross-platform development.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>UI/UX Design</p>
					<p>Programming</p>
					<p>Android Development</p>
					<p>Leadership</p>
					<p>Project Management</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Languages</h2>
				<div class="content">
					<p>Java</p>
					<p>Python</p>
					<p>Kotlin</p>
					<p>C++</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
